@import url('https://v1.fontapi.ir/css/SFProDisplay');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'SF Pro Display', sans-serif;
    background-color: #fFF;
    margin: 0;
}

html::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #F3EFE0;
    border-radius: 14px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar{
    width: 100%;
    height: 80px;
    justify-content:center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.links {
    align-items: center;
    display: flex;
    justify-content: center;
}

.links li{
    list-style: none;
    display: inline;
    margin-right:30px;
    justify-content: center;
    align-items: center;
}

.links a{
    text-decoration: none;
    font-size:35px;
    font-weight: 600;
    letter-spacing: -0.035rem;
    color: #1e1e1e;
}

.links a:hover{
    color: #613FE5;
}

.navbar #hamburger {
    display: none;
    position: absolute;
    text-align: center;
    width: 35px;
    font-size: 30px;
    color: #1e1e1e;
}

.links ul {
    justify-content: center;
    align-items: center;
    display: flex;
}


.shopping-bag {
    width: 100%;
    fill: #1e1e1e;
    font-weight: 700;
}

.btn {
    padding: 0;
}

.shopping-bag:hover {
    fill: #613FE5;
    font-weight: 700;
}

.container {
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.container .text {
    width: 500px;
    height: 300px;
    word-wrap: break-word;
    font-size: 45px;
}

.container span {
    color: #613FE5;
}

.line {
    border-bottom: 3px #B5B5B5 solid;
    height: 3px;
    margin: 150px 200px 100px 200px;
}

.products {
    filter: blur(20px);
    z-index: -1;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    flex-direction: row;
}

.shop-container .title h1 {
    font-size: 45px;
    color: #1e1e1e;
    text-align: center;
}

.shop-container .products .card {
    width: 600px;
    height: 450px;
    background: #B5B5B5;
    margin: 20px;
}

.title h1 {
    text-align: center;
    font-size: 45px;
    color: #1e1e1e;
}

.image-container img {
    width: 40%;
}

.gallery-container {
    margin: 50px;
}

.image-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -400px;
}

#margin-container {
    padding-left: 800px;
}

#margin-container img {
    width: 65%;
}
.coming-soon h1{
    text-align: center;
    font-size: 100px;
    color: #EB455F;
}

.coming-soon {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 185%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 537px) {
    .navbar {
        padding: 0;
    }
    .navbar .links ul {
        display: flex;
        padding-right: 0;
    }

    .navbar #hamburger {
        display: block;
    }
    
    .links {
       top: 0;
       left: 0;
       position: absolute;
       background-color: #2f3841e5;
       width: 100%;
       height: 100vh; 
       display: flex;
       align-items: center;
       justify-content: center;
       backdrop-filter: blur(8px);
       margin-left: -100%;
    }
    .links.mobile-menu {
        margin-left: 0;
    }


    .links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .navbar .links ul li {
        margin: 25px 0;
        font-size: 1.2rem;

    }
    .links.mobile-menu a {
        color: #D9D9D9;
    }

    .links.mobile-menu ul {
        padding-left: 0;
    }

    .navbar #hamburger {
        display: block;
        color: #1e1e1e;
        padding-top: 50px;
    }
    .shopping-bag {
        fill: #D9D9D9;
    }
    .text {
        text-align: center;
    }
    .text span {
        font-size: 36px;
    }
    .text h1 {
        padding-top: 100px;
    }
    .coming-soon h1{
        font-size: 60px;
    }
    #rólunk {
        margin-top: 0;
    }
    .products {
        margin: 10px;
    }
    .container {
        margin-top: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container .text h1{
        width: 200px;
        height: 300px;
        word-wrap: break-word;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .container img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .container .kep {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .line {
        display: none;
    }

    .shop-container .products .card {
        width: 300px;
        height: 150px;
        background: #B5B5B5;
        margin: 20px;
    }

    .image-container {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    .image-container img {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #margin-container{
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }
    #margin-container img {
        width: 100%;
    }
    .gallery-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
    }
}

/*Footer*/
.footer-container {
    background-color: #1e1e1e;
    color: #D9D9D9;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.emaill {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: none;
    font-family: 'SF Pro Display', sans-serif;
    padding: 10px;
    font-size: 20px;
}

.email-tag {
    width: 400px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.email:focus {
    outline: none;
}

.email-tag i {
    padding-right: 10px;
}

.send {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #D9D9D9;
    border: none;
    border-radius: 5px;
    background-color: #613FE5;
    width: 100px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.send:hover {
    transform: scale(1.45);
    transition: all 0.15s ease-in-out;
    font-size: 17px;
}


/* modal*/

.btn {
    background:none;
    border: none;
    width: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
    font-size: 15px;
    font-family: 'SF Pro Display', sans-serif;
  }
  
  input[type=submit] {
    background-color: #1e1e1e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'SF Pro Display', sans-serif;
  }
  
  input[type=submit]:hover {
    background-color: #613FE5;
  }
  
  .modal-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }